@for (column of columns(); track column.key) {
  <td class="display-grid__filter-cell">
    @switch (column.filter) {
      @case ('text') {
        <label>
          <span class="display-grid__visually-hidden">Filter by {{ column.label }}</span>
          <input type="text" autocomplete="off" [attr.maxlength]="textMax" class="display-grid__control"
                 [class.display-grid__control--on]="!!asText(idOf(column))"
                 [placeholder]="column.label" [value]="asText(idOf(column))" (input)="onText(idOf(column), $event)">
        </label>
      }
      @case ('year') {
        <app-year-picker [label]="column.label" [years]="(column.options ?? []).map(o => o.value)"
                         [value]="asText(idOf(column))" (changed)="emit(idOf(column), $event)" />
      }
      @case ('values') {
        <app-value-picker [label]="column.label" [options]="column.options ?? []"
                          [selected]="asArray(idOf(column))" (changed)="emit(idOf(column), $event)" />
      }
    }
  </td>
}
